{% include 'Inc/header.html' %}

{% if messages %}
{% for mensaje in messages %}
<div class="ui container" id="mensajes">
    <div class="ui {{mensaje.tags}} message">
        <i class="close icon"></i>
        <div class="header">
            {{mensaje}}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<div class="ui container">
    <h1>Listado De Cuentadantes</h1>
    <table class="ui selectable celled table">
        <thead>
            <th>Cuentadante</th>
            <th>Área</th>
            <th>Elemento</th>
            <th>Fecha De Asignación</th>
            <th>Observación</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for cuentadante in cuentadantes %}
            <tr>
                <td>{{ cuentadante.instructor.NombreCompleto }}</td>
                <td>{{ cuentadante.instructor.Area }}</td>
                <td>{{ cuentadante.elemento.Nombre }}</td>
                <td>{{ cuentadante.fechaasignacion }}</td>
                <td>{{ cuentadante.observacion }}</td>
                <td>
                    <!-- Formulario eliminar -->
                    <form action="/Cuentadante/EliminarCuentadante" method="post" id="formulario-{{cuentadante.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{cuentadante.id}}">
                    </form>

                    <!-- Acciones -->
                    <a href="#" onclick="eliminarCuentadante('{{cuentadante.id}}')">
                        <i class="trash alternate icon"></i>
                    </a>
                    <a href="#" onclick="abrirVentanaModal('{{cuentadante.id}}')">
                        <i class="edit alternate icon"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">NO HAY CUENTADANTES REGISTRADOS!!!</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- INICIO DE VENTANA MODAL -->
<div class="ui modal" id="modalActualizarCuentadante">
    <i class="close icon"></i>
    <div class="header">
        Actualizar Asignación de Cuentadante
    </div>

    <form method="post" class="ui form" id="formulario-cuentadante">
        {% csrf_token %}


        <div class="ui red message" id="mensaje-id" style="display:none;"></div>

        <input type="hidden" name="id_cuentadante" id="id_cuentadante">

        <div class="two fields">
            <div class="field">
                <label>Instructor</label>
                <select name="instructor" id="instructor" required>
                    <option value="0">Seleccione un Instructor</option>
                    {% for instructor in instructores %}
                    <option value="{{instructor.id}}"> {{instructor.NombreCompleto}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>Elemento</label>
                <select name="elemento" id="elementos" class="ui dropdown">
                    <option value="0">Seleccione el Elemento</option>
                    {% for elemento in elementos %}
                    <option value="{{elemento.id}}"> {{elemento.Nombre}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="field">
            <label>Observación</label>
            <textarea name="observacion" id="observacion" required></textarea>
        </div>

        <div class="actions">
            <div class="ui black deny button">Cancelar</div>
            <button type="submit" class="ui inverted right icon green button">
                Actualizar Elemento <i class="checkmark icon"></i>
            </button>
        </div>
    </form>
</div>
<!-- FIN DE VENTANA MODAL -->

<script>

    function eliminarCuentadante(id) {
        Swal.fire({
            title: "Cuidado. ¿Estás seguro de eliminar este Cuentadante?",
            text: "Piensa bien, ¡después no hay vuelta atrás!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sí, eliminar!"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("formulario-" + id).submit();
            }
        });
    }

    function abrirVentanaModal(id) {
        document.getElementById("id_cuentadante").value = id;

        let msg = document.getElementById("mensaje-id");
        msg.style.display = "block";
        msg.innerHTML = "Vas a modificar el cuentadante con ID: <b>" + id + "</b>";

        // Inicializar dropdowns
        $('#instructor').dropdown();
        $('#elemento').dropdown();

        $('#modalActualizarCuentadante')
            .modal({ transition: 'horizontal flip' })
            .modal('show');

        let url = '/Cuentadante/APIConsultarCuentadante/' + id

        fetch(url)
            .then(datos => datos.json())
            .then(datos => {
                console.log(id)
                 document.getElementById('id_cuentadante').value = id
                 $('#instructor').dropdown('set selected', String(datos[0].fields.instructor));
                $('#elementos').dropdown('set selected', String(datos[0].fields.elemento));

                 document.getElementById('observacion').value = String(datos[0].fields.observacion);
            });

    }
</script>

{% include 'Inc/footer.html' %}