{% include 'Inc/header.html' %}

<div class="ui container">
    <h1>Listado de Ambientes de Formación</h1>
    <table class="ui fixed single line celled table">
        <thead>
            <tr>
                <th>Nombre Ambiente</th>
                <th>Tipo Ambiente</th>
                <th>Observaciones Ambiente</th>
                <th class="center aligned">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ambiente in ambientes %}
            <tr>
                <td>{{ ambiente.NombreAmbiente }}</td>
                <td>{{ ambiente.TipoAmbiente }}</td>
                <td>{{ ambiente.Observacion }}</td>
                <td>
                    <form action="/Ambientes/EliminarAmbiente" method="post" id="formulario{{ ambiente.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ ambiente.id }}">
                    </form>
                    <a href="/Ambientes/ActualizarAmbiente/{{ ambiente.id }}"><i class="edit icon"></i></a>
                    <a href="#" onclick="eliminarambiente('{{ ambiente.id }}')"><i class="trash icon"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- INICIO DE VENTANA MODAL -->

<script>
    function eliminarambiente(id) {
        Swal.fire({
            title: "Cuidado. ¿Vas a eliminar esto?",
            text: "Piensa bien, ¡después no hay vuelta atrás!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sí, eliminar!"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("formulario" + id).submit();
            }
        });
    }
</script>

<br>

{% if messages %}
{% for mensaje in messages %}
<div class="ui container" id="mensajes">
    <div class="ui {{mensaje.tags}} message">
        <i class="close icon"></i>
        <div class="header">
            {{mensaje}}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% include 'Inc/footer.html' %}
